<div id="influencer_ranking">
<table class="new_counselings">
    <tr>
      <th><%= sort_link(@q, :reviews_comment, "レビュー件数が多い順", default_order: :desc, hide_indicator: true) %></th>
      <th><%= sort_link(@q, :created_at, "登録日が新しい順", default_order: :desc, hide_indicator: true) %></th>
    </tr>
  <tr class="tr_image">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= image_tag influencer.influencer_image.variant(resize:'100x100') %></td>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @influencers.first(5).each do |influencer| %>
      <td>
        <%= influencer.name %>
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= influencer.avg_score * 20 %>%">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
      </td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= influencer.profile %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= link_to "もっと見る", influencer_path(influencer) %></td>
    <% end %>
  </tr>
</table>
</div>
<div id="recomend_influencer"> 
  <table class="new_counselings">
    <tr class="tr_image">
    <% @influencers.last(5).each do |influencer| %>
      <td><%= image_tag influencer.influencer_image.variant(resize:'100x100') %></td>
    <% end %>
    </tr>
    <tr class="tr_title">
      <% @influencers.last(5).each do |influencer| %>
        <td>
          <%= influencer.name %>
          <span class="star-rating">
            <span class="star-rating-front" style="width: <%= influencer.avg_score * 20 %>%">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
          </span>
          <%= influencer.reviews.count %>件のレビュー
        </td>
      <% end %>
    </tr>
    <tr class="tr_date">
      <% @influencers.last(5).each do |influencer| %>
        <td><%= influencer.profile %></td>
      <% end %>
    </tr>
    <tr class="tr_button">
      <% @influencers.last(5).each do |influencer| %>
        <td><%= link_to "もっと見る", influencer_path(influencer) %></td>
      <% end %>
    </tr>
  </table>
</div>
<div id="influencer_search_window">
  <h3>インフルエンサー検索</h3>
  <%= search_form_for @q, url: search_influencers_path do |f| %>
    <%= f.label :name_or_profile_cont, 'キーワード' %>
    <%= f.search_field :name_or_profile_cont %>
    <p>インフルエンサーの得意ジャンルから探す</p>
    <%= link_to "トレンドメイク", search_influencers_path(q: { genre_eq: 'トレンドメイク' }), class:"link" %>
    <%= link_to "モテメイク", search_influencers_path(q: { genre_cont: 'モテメイク' }), class:"link" %>
    <%= link_to "プチプラメイク", search_influencers_path(q: { genre_cont: 'プチプラメイク' }), class:"link" %>
    <%= link_to "デパコスメイク", search_influencers_path(q: { genre_cont: 'デパコスメイク' }), class:"link" %>
    <%= link_to "海外メイク", search_influencers_path(q: { genre_cont: '海外メイク' }), class:"link" %>
    <%= link_to "ナチュラルメイク", search_influencers_path(q: { genre_cont: 'ナチュラルメイク' }), class:"link" %>
    <%= link_to "垢抜けメイク", search_influencers_path(q: { genre_cont: '垢抜けメイク' }), class:"link" %>
    <%= link_to "整形メイク", search_influencers_path(q: { genre_cont: '整形メイク' }), class:"link" %>
    <%= link_to "イベントメイク", search_influencers_path(q: { genre_cont: 'イベントメイク' }), class:"link" %>
    <%= link_to "パーソナルカラー診断", search_influencers_path(q: { genre_cont: 'パーソナルカラー診断' }), class:"link" %>
    <%= link_to "韓国メイク", search_influencers_path(q: { genre_cont: '韓国メイク' }), class:"link" %>
    <br>
    <%= f.submit '検索' %>
  <% end %>
</div>
<div class="paginate">
  <%= paginate @counselings %>
</div>
