<div id="influencer_ranking">
  <table class="new_counselings">
  <tr class="tr_image">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= image_tag influencer.influencer_image.variant(resize:'100x100') %></td>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= influencer.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= influencer.profile %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= link_to "もっと見る", influencer_path(influencer) %></td>
    <% end %>
  </tr>
</table>
</div>
<div id="recomend_influencer"> 
  <table class="new_counselings">
    <tr class="tr_image">
    <% @influencers.last(5).each do |influencer| %>
      <td><%= image_tag influencer.influencer_image.variant(resize:'100x100') %></td>
    <% end %>
    </tr>
    <tr class="tr_title">
      <% @influencers.last(5).each do |influencer| %>
        <td><%= influencer.name %></td>
      <% end %>
    </tr>
    <tr class="tr_date">
      <% @influencers.last(5).each do |influencer| %>
        <td><%= influencer.profile %></td>
      <% end %>
    </tr>
    <tr class="tr_button">
      <% @influencers.last(5).each do |influencer| %>
        <td><%= link_to "もっと見る", influencer_path(influencer) %></td>
      <% end %>
    </tr>
  </table>
</div>
<div id="influencer_search_window">
  <p id="influencer_search">インフルエンサー検索部分です</p>
  <a href="#" style="text-decoration:none;" id="influencer_search_link">検索する</a>
</div>
