<div id="influencer_ranking">
  <table class="new_counselings">
  <tr class="tr_image">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= image_tag influencer.influencer_image.variant(resize:'100x100') %></td>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= influencer.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= influencer.profile %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @influencers.first(5).each do |influencer| %>
      <td><%= link_to "もっと見る", influencer_path(influencer) %></td>
    <% end %>
  </tr>
</table>
</div>
<div id="recomend_influencer"> 
  <table class="new_counselings">
    <tr class="tr_image">
    <% @influencers.last(5).each do |influencer| %>
      <td><%= image_tag influencer.influencer_image.variant(resize:'100x100') %></td>
    <% end %>
    </tr>
    <tr class="tr_title">
      <% @influencers.last(5).each do |influencer| %>
        <td><%= influencer.name %></td>
      <% end %>
    </tr>
    <tr class="tr_date">
      <% @influencers.last(5).each do |influencer| %>
        <td><%= influencer.profile %></td>
      <% end %>
    </tr>
    <tr class="tr_button">
      <% @influencers.last(5).each do |influencer| %>
        <td><%= link_to "もっと見る", influencer_path(influencer) %></td>
      <% end %>
    </tr>
  </table>
</div>
<div id="influencer_search_window">
  <h3>インフルエンサー検索</h3>
  <%= search_form_for @q, url: search_influencers_path do |f| %>
    <%= f.label :name_or_profile_cont, 'キーワード' %>
    <%= f.search_field :name_or_profile_cont %>
    <%= f.label :genre_cont, '得意ジャンルから探す' %>
    <%= f.check_box :genre_cont_any, { multiple: true }, '' %>指定しない
    <%= f.check_box :genre_cont_any, { multiple: true }, 'トレンドメイク' %>トレンドメイク
    <%= f.check_box :genre_cont_any, { multiple: true }, 'モテメイク' %>モテメイク
    <%= f.check_box :genre_cont_any, { multiple: true }, 'プチプラメイク' %>プチプラメイク
    <%= f.check_box :genre_cont_any, { multiple: true }, 'デパコスメイク' %>デパコスメイク
    <%= f.check_box :genre_cont_any, { multiple: true }, '海外メイク' %>海外メイク
    <%= f.check_box :genre_cont_any, { multiple: true }, 'ナチュラルメイク' %>ナチュラルメイク
    <%= f.check_box :genre_cont_any, { multiple: true }, '垢抜けメイク' %>垢抜けメイク
    <%= f.check_box :genre_cont_any, { multiple: true }, '整形メイク' %>整形メイク
    <%= f.check_box :genre_cont_any, { multiple: true }, 'イベントメイク' %>イベントメイク
    <%= f.check_box :genre_cont_any, { multiple: true }, 'パーソナルカラー診断' %>パーソナルカラー診断
    <%= f.check_box :genre_cont_any, { multiple: true }, '韓国メイク' %>韓国メイク
    <br>
    <%= f.submit '検索' %>
  <% end %>
</div>
