<table id="counseling_show">
  <tr id="counseling_show_title">
    <td><%= image_tag @influencer.influencer_image.variant(resize:'100x100') %></td>
   </tr>
  <tr id="counseling_show_title">
    <td><%= @influencer.name %></td>
  </tr>
  <tr id="counseling_show_content">
    <td><%= @influencer.profile %></td>
  </tr>
  <tr id="favorite">
    <td>
      <% if current_user.already_followed?(@influencer) %>
        <%= link_to 'フォローを外す', influencer_relationships_path(@influencer), method: :delete %>
      <% else %>
        <%= link_to 'フォローする', influencer_relationships_path(@influencer), method: :post %>
      <% end %>
      <%= @influencer.relationships.count %>
      <%= link_to 'レビューを書く', new_influencer_review_path(@influencer) %>
      <%= link_to @influencer.reviews.count, influencer_reviews_path(@influencer) %>
      <span class="star-rating">
        <span class="star-rating-front" style="width: <%= @influencer.avg_score * 20 %>%">★★★★★</span>
        <span class="star-rating-back">★★★★★</span>
        <span class="average-score-display">
          (<%= @influencer.avg_score %>点)
        </span>
      </span>
    </td>
  </tr>
</table>
<h2 id="influenser_counseling">現在開催中のカウンセリング</h2>
<table class="new_counselings">
  <tr class="tr_image">
    <% @counselings.each do |counseling| %>
      <th><%= image_tag '25307560_s.jpg', size:'100x100' %></th>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @counselings.each do |counseling| %>
      <td><%= counseling.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @counselings.each do |counseling| %>
      <td><%= l counseling.day, format: :long %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @counselings.each do |counseling| %>
      <td><%= l counseling.starttime, format: :short %>〜</td>
    <% end %>
  </tr>
  <tr class="tr_people">
    <% @counselings.each do |counseling| %>
      <td><%= counseling.people %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @counselings.each do |counseling| %>
      <td><%= link_to "詳細", counseling_path(counseling) %></td>
    <% end %>
  </tr>
</table>
