<%= sort_link(@q, :created_at, "新着順", default_order: :desc, hide_indicator: true) %>
<%= sort_link(@q, :day, "開催日が近い順", hide_indicator: true) %>
<%= sort_link(@q, :day, "開催日が遠い順", default_order: :desc, hide_indicator: true) %></th>
<div id="index_counseling">
  <h2 class="top_searchforcounselig">カウンセリングを探す</h2>
  <table class="counselings">
    <tr>
      <% @counselings.each do |counseling| %>
        <th><div class="border1"><%= image_tag '25307560_s.jpg', size:'200x150' %></div></th>
      <% end %>    
    </tr>
    <tr>
      <% @counselings.each do |counseling| %>
        <td><div class="counseling_name"><%= counseling.name %></div></td>
      <% end %>
    </tr>
    <tr>
      <% @counselings.each do |counseling| %>
        <td><div class="index_counseling_day"><%= l counseling.day, format: :long %>  <%= l counseling.starttime, format: :short %>〜</div></td>
      <% end %>
    </tr>
    <tr>
      <% @counselings.each do |counseling| %>
        <td><div class="counseling_people">募集人数：<%= counseling.people %>名</div></td>
      <% end %>
    </tr>
    <tr>
      <% @counselings.each do |counseling| %>
        <td><div class="counselings_link"><%= link_to "詳細", counseling_path(counseling) %></div></td>
      <% end %>
    </tr>
  </table>
</div>

<div id="counseling_search_window">
  <h3>カウンセリングを探す</h3>
  <%= search_form_for @q, url: search_counselings_path do |f| %>
    <%= f.label :name_or_content_cont, 'キーワード' %>
    <%= f.search_field :name_or_content_cont %>
    <p>人気のキーワード</p>
    <%= link_to "韓国メイク", search_counselings_path(q: { name_or_content_cont: '韓国メイク' }), class:"link" %>
    <%= link_to "ブルベ夏", search_counselings_path(q: { name_or_content_cont: 'ブルベ夏' }), class:"link" %>
    <%= link_to "イエベ春", search_counselings_path(q: { name_or_content_cont: 'イエベ春' }), class:"link" %>
    <%= link_to "プチプラ", search_counselings_path(q: { name_or_content_cont: 'プチプラ' }), class:"link" %>
    <%= link_to "垢抜け", search_counselings_path(q: { name_or_content_cont: '垢抜け' }), class:"link" %>
    <%= link_to "デパコス", search_counselings_path(q: { name_or_content_cont: 'デパコス' }), class:"link" %>
    <%= link_to "敏感肌", search_counselings_path(q: { name_or_content_cont: '敏感肌' }), class:"link" %>
    <%= link_to "海外", search_counselings_path(q: { name_or_content_cont: '海外' }), class:"link" %>
    <%= link_to "韓国コスメ", search_counselings_path(q: { name_or_content_cont: '韓国コスメ' }), class:"link" %>
    <%= link_to "眉毛", search_counselings_path(q: { name_or_content_cont: '眉毛' }), class:"link" %>
    <%= link_to "ナチュラルメイク", search_counselings_path(q: { name_or_content_cont: 'ナチュラルメイク' }), class:"link" %>
    <%= f.label :day_gteq, '日付から探す' %>
    <%= f.date_field :day_gteq %>
    ~
    <%= f.date_field :day_lteq_end_of_day %>
    <%= f.label :starttime_cont, '開始時間から探す' %>
    <%= f.check_box :starttime_cont_any, { multiple: true }, '' %>指定しない
    <%= f.check_box :starttime_cont_any, { multiple: true }, '10:00' %>10時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '11:00' %>11時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '12:00' %>12時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '13:00' %>13時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '14:00' %>14時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '15:00' %>15時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '16:00' %>16時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '17:00' %>17時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '18:00' %>18時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '19:00' %>19時
    <%= f.check_box :starttime_cont_any, { multiple: true }, '20:00' %>20時
    <br>
    <%= f.submit '検索' %>
  <% end %>
</div>
<div class="paginate">
  <%= paginate @counselings %>
</div>
