<div class="sort_links">
  <%= sort_link(@q, :created_at, "新着順", default_order: :desc, hide_indicator: true) %>
  <%= sort_link(@q, :day, "開催日が近い順", hide_indicator: true) %>
  <%= sort_link(@q, :day, "開催日が遠い順", default_order: :desc, hide_indicator: true) %></th>
</div>
<div id="index_counseling">
  <h2 id="top_searchforcounselig">カウンセリングを探す</h2>
  <table class="counselings">
    <tr>
      <% @counselings.each do |counseling| %>
        <th><div class="border"><%= image_tag '25307560_s.jpg', size:'200x150' %></div></th>
      <% end %>    
    </tr>
    <tr>
      <% @counselings.each do |counseling| %>
        <td><div class="counseling_name"><%= counseling.name %></div></td>
      <% end %>
    </tr>
    <tr>
      <% @counselings.each do |counseling| %>
        <td><div class="index_counseling_day"><%= l counseling.day, format: :long %>  <%= l counseling.starttime, format: :short %>〜</div></td>
      <% end %>
    </tr>
    <tr>
      <% @counselings.each do |counseling| %>
        <td><div class="counseling_people">募集人数：<%= counseling.people %>名</div></td>
      <% end %>
    </tr>
    <tr>
      <% @counselings.each do |counseling| %>
        <td><div class="counselings_link"><%= link_to "詳細", counseling_path(counseling) %></div></td>
      <% end %>
    </tr>
  </table>
</div>
<div class="paginate">
  <%= paginate @counselings %>
</div>
<%= render "shared/search_counseling" %>
