# 新着カウンセリング
<table class="new_counselings">
  <tr class="tr_image">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= image_tag '25307560_s.jpg', size:'100x100' %></td>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= counseling.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= l counseling.date, format: :long %>〜</td>
    <% end %>
  </tr>
  <tr class="tr_people">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= counseling.people %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= link_to "詳細", counseling_path(counseling) %></td>
    <% end %>
  </tr>
</table>

#人気カウンセリング
<table class="popular_counselings">
  <tr class="tr_image">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= image_tag '25307560_s.jpg', size:'100x100' %></td>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= counseling.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= l counseling.date, format: :long %>〜</td>
    <% end %>
  </tr>
  <tr class="tr_people">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= counseling.people %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= link_to "詳細", counseling_path(counseling) %></td>
    <% end %>
  </tr>
</table>

<div id="counseling_search_window">
  <h3>カウンセリングを探す</h3>
  <%= search_form_for @q, url: search_counselings_path do |f| %>
    <%= f.label :name_or_content_cont, 'キーワード' %>
    <%= f.search_field :name_or_content_cont %>
    <%= f.label :date_gteq, '日付から探す' %>
    <%= f.date_field :date_gteq %>
    ~
    <%= f.date_field :date_lteq_end_of_day %>
    <br>
    <%= f.submit '検索' %>
  <% end %>
</div>
