# 新着カウンセリング
<table class="new_counselings">
  <tr class="tr_image">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= image_tag counseling.counseling_image.variant(resize:'200x400') %></td>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= counseling.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= l counseling.date, format: :long %></td>
    <% end %>
  </tr>
  <tr class="tr_people">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= counseling.people %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= link_to "詳細", counseling_path(counseling) %></td>
    <% end %>
  </tr>
</table>

#人気カウンセリング
<table class="popular_counselings">
  <tr class="tr_image">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= image_tag counseling.counseling_image.variant(resize:'200x400') %></td>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= counseling.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= l counseling.date, format: :long %></td>
    <% end %>
  </tr>
  <tr class="tr_people">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= counseling.people %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @counselings.last(5).each do |counseling| %>
      <td><%= link_to "詳細", counseling_path(counseling) %></td>
    <% end %>
  </tr>
</table>

<div id="counseling_search_window">
  <p>カウンセリング検索部分です</p>
  <a href="#" style="text-decoration:none;" id="counseling_search_link">検索する</a>
</div>
