<h2>検索結果</h2>
<table class="new_counselings">
  <tr class="tr_image">
    <% @results.each do |counseling| %>
      <td><%= image_tag '25307560_s.jpg', size:'100x100' %></td>
    <% end %>
  </tr>
  <tr class="tr_title">
    <% @results.each do |counseling| %>
      <td><%= counseling.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @results.each do |counseling| %>
      <td><%= l counseling.day, format: :long %>〜</td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @results.each do |counseling| %>
      <td><%= counseling.starttime %>〜</td>
    <% end %>
  </tr>
  <tr class="tr_people">
    <% @results.each do |counseling| %>
      <td><%= counseling.people %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @results.each do |counseling| %>
      <td><%= link_to "詳細", counseling_path(counseling) %></td>
    <% end %>
  </tr>
</table>
<div id="back_to_counselings_link">
  <%= link_to "カウンセリング一覧へ戻る", counselings_path, class:"link" %>
</div>
