<h2 id="show_counseling_text">カウンセリング詳細</h2>
<table id="counseling_show">
  <tr id="counseling_show_title">
    <td><%= @counseling.name %></td>
  </tr>
  <tr id="counseling_show_content">
    <td><%= @counseling.content %></td>
  </tr>
  <tr id="favorite">
    <td>
      <% if current_user.already_favorited?(@counseling) %>
        <%= link_to 'お気に入り解除', counseling_favorites_path(@counseling), method: :delete %>
      <% else %>
        <%= link_to 'お気に入り登録', counseling_favorites_path(@counseling), method: :post %>
      <% end %>
      <%= @counseling.favorites.count %>
    </td>
  </tr>
</table>
<div id="counseling_show_people">
  <% if Date.today >= @counseling.day %>
    <p>開催日を過ぎたため予約は締め切りました</p>
  <% else %>
    <p><%= l @counseling.day, format: :long %></p>
    <p><%= l @counseling.starttime, format: :short %>〜</p>
    <% if current_user.already_reserved?(@counseling) %>
      <%= link_to '予約を取り消す', counseling_reservation_path(@counseling), method: :delete, data: {confirm: "予約を取り消しますか？"} %>
    <% else %>
      <% if @counseling.reservations.count == @counseling.people %>
        <p>募集人数に達したため予約は締め切りました</p>
      <% else %>
        <p>残り<%= @people %>/<%= @counseling.people %>枠</p>
      <%= link_to "予約する", new_counseling_reservation_path(@counseling) %>
        <% end %>
    <% end %>
  <% end %>
</div>
<div id="counseling_show_influencer">
  <p><%= @counseling.influencer.name %></p>
  <%= image_tag @counseling.influencer.influencer_image.variant(resize:'100x100') %>
  <%= link_to "詳しく見る", influencer_path(@influencer) %>
</div>
<%= link_to "カウンセリング一覧に戻る", counselings_path, id:"backto_counseling_index" %>
