<div id="current_user">
  <h1>プロフィール編集</h1>
  <% if @user.image.attached? %>
    <%= image_tag @user.image.variant(resize:'100x100') %>
  <% else %>
    <%= image_tag '/22614794.png', size: '100x100' %>
  <% end %>
  <p>名前 : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
  <%= link_to "編集する", edit_user_registration_path, class:"link" %>
</div>



# Counseling.create!(
#   [
#     {
#       name: "ブルベ夏さんの透明感×オフィスメイク",
#       content: "今回は、ブルべ夏さんへ向けたオフィスメイクを紹介します！",
#       date: "2022-01-14 14:00",
#       people: 5,
#       influencer_id: 1,
#     },
#     {
#       name: "プチプラだけ！絶対崩したくない日のメイク",
#       content: "プチプラコスメだけで作れる、絶対に崩れないメイクを教えます！",
#       date: "2022-01-14 18:00",
#       people: 8,
#       influencer_id: 2,
#     },
#     {
#       name: "SNSで話題、とことん盛れる純欲メイク",
#       content: "SNSで流行中の純欲メイクをレクチャーします",
#       date: "2022-01-15 11:00",
#       people: 4,
#       influencer_id: 3,
#     },
#     {
#       name: "イエベさんへ向けた透明感爆発メイク",
#       content: "イエベさんでもメイクに少しの工夫を加えれば透明感は出せちゃうんです！",
#       date: "2022-01-15 16:00",
#       people: 6,
#       influencer_id: 4,
#     },
#     {
#       name: "忙しい朝に。5分で完成させる出来る女のフルメイク",
#       content: "バタバタしててメイクの時間が取れなくても、5分あればフルメイクできるんです!",
#       date: "2022-01-18 19:00",
#       people: 8,
#       influencer_id: 5,
#     },
#     {
#       name: "パーソナルカラー別の王道メイクレッスン",
#       content: "自分のパーソナルカラーが分かっていたら、このコスメだけ揃えれば大丈夫です！",
#       date: "2022-01-21 12:00",
#       people: 4,
#       influencer_id: 6,
#     },
#     {
#       name: "長年試行錯誤した、プリプラで作る人中短縮術を紹介します",
#       content: "研究しまくった人中短縮術を参加者様の顔立ちに合わせてアドバイスします",
#       date: "2022-01-21 19:00",
#       people: 3,
#       influencer_id: 7,
#     },
#     {
#       name: "酒さや毛細血管拡張症の方向け。赤ら顔を綺麗にカバーするメイクテクを紹介",
#       content: "どんなにファンデで隠しても、時間が経てば赤みが出てくる方へアドバイスします",
#       date: "2022-01-22 14:00",
#       people: 6,
#       influencer_id: 8,
#     },
#     {
#       name: "学生さんは見て欲しい、オールキャンメイクのすっぴん風メイク",
#       content: "キャンメイクのアイテムを使って、学校でもバレない、でもすっぴんが盛れるメイクを紹介します",
#       date: "2022-01-22 15:00",
#       people: 8,
#       influencer_id: 9,
#     },
#     {
#       name: "ブルベサマーさんでも似合う！透明感溢れるオレンジメイク",
#       content: "サマーさんでも使うコスメの選び方さえ押さえれば、オレンジメイクができちゃうんです！",
#       date: "2022-01-27 20:00",
#       people: 10,
#       influencer_id: 10,
#     },
#     {
#       name: "一重さん向け、目が倍大きく見えるアイメイク",
#       content: "一重さんに向けたデカ目テクを紹介します",
#       date: "2022-01-28 17:00",
#       people: 4,
#       influencer_id: 11,
#     },
#     {
#       name: "本当は隠したい、でも紹介したい！優秀すぎる最新韓国コスメを紹介します",
#       content: "まだあまり知られていない、日本味上陸の韓国コスメを紹介します",
#       date: "2022-01-16 19:00",
#       people: 6,
#       influencer_id: 12,
#     },
#     {
#       name: "NMIXXソリュンちゃん物真似メイク",
#       content: "K-POP第4世代No.1ビジュアルを誇るNMIXXソリュンちゃんに限りなく近づけるメイク術です",
#       date: "2022-01-17 21:00",
#       people: 4,
#       influencer_id: 13,
#     },
#     {
#       name: "ナチュラルコスメで作るバレンタイン告白メイク",
#       content: "お肌に優しいナチュラルコスメを使って、バレンタインにしたいメイクを紹介します",
#       date: "2022-01-26 19:00",
#       people: 5,
#       influencer_id: 14,
#     },
#     {
#       name: "顔タイプアクティブキュートさんの魅力を引き立たせる！診断士が直接メイクアドバイスします",
#       content: "顔タイプ診断士の私がアクティブキュートさんに向けたメイク術を紹介します",
#       date: "2022-02-04 13:00",
#       people: 8,
#       influencer_id: 15,
#     },
#     {
#       name: "ブルベ冬さんにおすすめ!ふんわり冬のニュアンスメイク",
#       content: "バキッとした印象になりがちのブルベ冬さんでも出来るニュアンスメイクです",
#       date: "2022-02-05 16:00",
#       people: 5,
#       influencer_id: 16,
#     },
#     {
#       name: "プチプラコスメを使って一足早い春メイク",
#       content: "春にしたいピンクメイクです",
#       date: "2022-02-11 14:00",
#       people: 3,
#       influencer_id: 17,
#     },
#     {
#       name: "強すぎない！日本人の顔にも似合う中国メイク",
#       content: "日本人の顔にも自然に溶け込む、中国メイクを紹介します",
#       date: "2022-02-12 13:00",
#       people: 4,
#       influencer_id: 18,
#     },
#     {
#       name: "第一印象100点満点!可愛すぎる好印象メイク",
#       content: "新学期へ向けて、好印象間違いなしの王道メイクを紹介します",
#       date: "2022-02-18 19:00",
#       people:6,
#       influencer_id: 19,
#     },
#     {
#       name: "黒髪でもやぼったくならない、黒髪清楚メイク",
#       content: "黒髪の良さを引き立たせるメイクを紹介します",
#       date: "2022-02-29 14:00",
#       people: 5,
#       influencer_id: 20,
#     },
#   ]
# )
