<div id="counseling_search_window">
  <h3>インフルエンサー検索</h3>
  <%= search_form_for @q, url: search_influencers_path do |f| %>
    <%= f.label :name_or_profile_cont, 'キーワード', id:"keyword" %>
    <%= f.search_field :name_or_profile_cont, :placeholder =>"キーワードを入力", size:"20x10" %>
    <div id="search_word">
      <p>インフルエンサーの得意ジャンルから探す</p>
      <%= link_to "#トレンドメイク", search_influencers_path(q: { genre_eq: 'トレンドメイク' }), class:"link" %>
      <%= link_to "#モテメイク", search_influencers_path(q: { genre_cont: 'モテメイク' }), class:"link" %>
      <%= link_to "#プチプラメイク", search_influencers_path(q: { genre_cont: 'プチプラメイク' }), class:"link" %>
      <%= link_to "#デパコスメイク", search_influencers_path(q: { genre_cont: 'デパコスメイク' }), class:"link" %>
      <%= link_to "#海外メイク", search_influencers_path(q: { genre_cont: '海外メイク' }), class:"link" %>
      <%= link_to "#ナチュラルメイク", search_influencers_path(q: { genre_cont: 'ナチュラルメイク' }), class:"link" %>
      <%= link_to "#垢抜けメイク", search_influencers_path(q: { genre_cont: '垢抜けメイク' }), class:"link" %>
      <%= link_to "#整形メイク", search_influencers_path(q: { genre_cont: '整形メイク' }), class:"link" %>
      <%= link_to "#イベントメイク", search_influencers_path(q: { genre_cont: 'イベントメイク' }), class:"link" %>
      <%= link_to "#パーソナルカラー診断", search_influencers_path(q: { genre_cont: 'パーソナルカラー診断' }), class:"link" %>
      <%= link_to "#韓国メイク", search_influencers_path(q: { genre_cont: '韓国メイク' }), class:"link" %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
</div>
