<%= image_tag '25154806_s.jpg', alt: "コスメ", class: "service_explanation_image" %>
<h1 id="service_explanation_cap">「貴重な体験を気軽に」</h1>
<p id="service_explanation_text">SNSを通じて、たくさんのインフルエンサーが情報を発信している時代。<br>
  多くのフォロワーを抱えているインフルエンサーと直接つながることは難しくなりました。<br>
  meseling（ミセリング）は、インフルエンサー本人が開催するカウンセリングに参加できるオンラインサービスです。<br>
  憧れのインフルエンサーに質問したり、アドバイスをもらったり「貴重な体験を気軽にできる」を叶えました。</p>
<%= link_to "今すぐはじめる", new_user_registration_path, class:"new_user_registration_inservice_explanation" %>
<%= link_to "アカウントをお持ちの方", new_user_session_path, class:"new_user_session_service_explanation" %>
<div id="toppage">
  <h2 id="top_searchforcounselig">カウンセリングを探す</h2>
  <table class="counselings">
    <tr>
      <% @counselings.first(5).each do |counseling| %>
        <th><div class="border1"><%= image_tag '25307560_s.jpg', size:'200x150', class:"counseling_image" %></div></th>
      <% end %>    
      <%= image_tag '25307560_s.jpg', size:'399x330', class:"counseling_fake_image" %>
    </tr>
    <tr>
      <% @counselings.first(5).each do |counseling| %>
        <td>
          <div class="counseling_name">
            <%= counseling.name %>
          </div>
        </td>
      <% end %>
      <p class="fake_counseling_name">幸福感がカギ！プチプラコスメで作るイエベの春メイク</p>
    </tr>
    <tr>
      <% @counselings.first(5).each do |counseling| %>
        <td>
          <div class="counseling_day">
            <%= l counseling.day, format: :long %>  <%= l counseling.starttime, format: :short %>〜
          </div>
        </td>
      <% end %>
      <p class="fake_counseling_day">2023年3月10日(金)17時〜</p></td>
    </tr>
    <tr>
      <% @influencers.first(5).each do |influencer| %>
        <td><div class="host_influencer"><%= image_tag influencer.influencer_image, size:'50x40', class: "image" %>  <%= influencer.name %></div></td>
      <% end %>
      <%= image_tag '22857219_s.jpg', class: "fake_image" %><p class="fake_counseling_host">みきまる</p>
    </tr>
    <%= link_to "もっと見る", new_user_session_path, id:"signin_see_more_counseling_button" %>
  </table>
</div>
<div id="howtouse"></div>
<%= image_tag '25067882_s.jpg', size:'400x400', alt: "携帯", class: "service_explanation_bottom_image" %>
<h1 id="service_explanation_cap_bottom">使い方</h1>
<p id="service_explanation_text_bottom">参加したいカウンセリングを検索して、予約するだけ！<br>
フォロー機能やお気に入り機能を使って、<br>気になるインフルエンサーやカウンセリングを保存することもできます。</p>
<%= link_to "さっそくはじめる", new_user_registration_path, class:"new_user_registration_explanation_bottom" %>
