<div id="reservation_confirm">
  <h2 id="h2">この内容で予約しますか？</h2>
  <table>
    <tr>
      <td><div id="confirm_reserve_name"><%= @counseling.name %></div></td>
    </tr>
    <tr id="reserve_day">
      <td><%= l @counseling.day, format: :long %></td>
    </tr>
    <tr id="reserve_time">
      <td><%= l @counseling.starttime, format: :short %>〜</td>
    </tr>
    <tr id="question">
      <td><%= @reservation.question %></td>
    </tr>
    <%= form_with model: [@counseling, @reservation], local: true do |f| %>
      <tr id="counseling_show_content">
        <td><%= f.hidden_field :question %></td>
      </tr>
      <td id="goto_confirm"><%= f.submit '予約を確定する' %></td>
    <% end %>
  </table>
</div>
<%= link_to "カウンセリング詳細に戻る", counseling_path(@counseling), id:"backto_show_counseling" %>
