<h2 class="favorite_counselig">予約一覧</h2>
<% if @reservation_counselings.blank? %>
  <p id="not_favorites">予約したカウンセリングはまだありません</p>
<% else %>
  <h3 id="favorites">予約：<%=@reservation_counselings.count %>件</h3>
  <div id="index_favorite">
    <table class="counselings">
      <tr>
        <% @reservation_counselings.each do |counseling| %>
          <th><div class="border"><%= image_tag '25307560_s.jpg', size:'200x150' %></div></th>
        <% end %>    
      </tr>
      <tr>
        <% @reservation_counselings.each do |counseling| %>
          <td><div class="counseling_name"><%= counseling.name %></div></td>
        <% end %>
      </tr>
      <tr>
        <% @reservation_counselings.each do |counseling| %>
          <td><div class="index_counseling_day"><%= l counseling.day, format: :long %>  <%= l counseling.starttime, format: :short %>〜</div></td>
        <% end %>
      </tr>
      <tr>
        <% @reservation_counselings.each do |counseling| %>
          <td><div class="counseling_people">募集人数：<%= counseling.people %>名</div></td>
        <% end %>
      </tr>
      <tr>
        <% @reservation_counselings.each do |counseling| %>
          <td><div class="counselings_link"><%= link_to "詳細", counseling_path(counseling) %></div></td>
        <% end %>
      </tr>
    </table>
  </div>
<% end %>
<div class="paginate">
  <%= paginate @reservation_counselings %>
</div>
